<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/grid.css">    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container clearfix">
            <div class="row">
                <section class="col-xs-12">
                  <h1>Atos Project</h1>
                  <div class="navbar-form navbar-left">
                    <input ng-model="query" placeholder="Search" class="form-control">
                    Sort by:
                    <select ng-model="orderProp">
                      <option value="name">Sector</option>
                      <option value="price">Solution</option>
                      <option value="age">Projects</option>
                    </select>
                  </div>
                </section>
            </div>    
        </div>      
    </nav>

    <section class="col-xs-12">
        <h1>Project Title</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </section>

    <script src="/js/main.js"></script>
  </body>
</html>
