<!doctype html>
<html class="no-js" lang="" ng-app="ProjectPresenter" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/grid.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!--<script src="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>-->
  </head>
  <body ng-controller="ProjectPresentationController">

    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<div class="jumbotron" style="background-color:white;background:rgba(255, 255, 255, 0.8)">
      <div class="row">
                <section class="navbar-form navbar-right">
                <input ng-model="query" placeholder="Search" class="form-control">
                Sort by:
                <select ng-model="orderProp">
                  <option value="name">Sector</option>
                  <option value="price">Solution</option>
                  <option value="age">Projects</option>
                </select>
            </section>

      
            <section>
              <img src="images/atos.png"/>
            </section>



  
    <ul ng-repeat="project in projects">
      <li class="col-md-4 col-sm-6">
        <p>{{project.title}}</p>
        <img src="/{{project.image}}" />
      </li>
    </ul>
  </div>
  </div>


    <script src="/js/app.js"></script>
    <script src="/js/projectPresentationController.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
